@charset "UTF-8";
@font-face {
  font-family: "one-piece-font";
  src: url("../fonts/one-piece-font.ttf");
}
/* Definimos una clase base para los títulos */
.titulo-base, .mugiwara, .titulo__h1 {
  font-family: one-piece-font;
  font-size: 4rem;
}

/* Estilos H1 (Títulos de la web) que extienden de la clase base */
.titulo__h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos Sombreros de Paja que extienden de la clase base */
/* Estilos del "Header" */
header {
  font-size: 2rem;
  align-items: center;
}
header .encabezado {
  display: flex;
  justify-content: center;
}
header .encabezado .navbar-nav {
  display: flex;
  gap: 20px;
}
header .encabezado .navbar-nav .boton {
  cursor: pointer;
  color: #fff;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
header .encabezado .navbar-nav .boton:after, header .encabezado .navbar-nav .boton:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
header .encabezado .navbar-nav .boton:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #ffffff;
  border-left: 5px solid rgb(255, 255, 255);
}
header .encabezado .navbar-nav .boton:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
}
header .encabezado .navbar-nav .boton:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(111, 198, 245);
}
header .encabezado .navbar-nav .boton:hover:before, header .encabezado .navbar-nav .boton:hover:after {
  width: 100%;
  height: 100%;
}

/* Fin Estilos del "Header" */
/* Animación Sección "Historia" */
.contenedor__Imagenes__Historia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__Imagenes__Historia img {
  display: block;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.contenedor__Imagenes__Historia img:first-child {
  z-index: 1;
}
.contenedor__Imagenes__Historia img:last-child {
  z-index: -1;
}
.contenedor__Imagenes__Historia .imagen-3d {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateZ(-20px);
}
.contenedor__Imagenes__Historia:hover img:first-child {
  transform: rotateX(90deg);
  z-index: -1;
}
.contenedor__Imagenes__Historia:hover img:last-child {
  opacity: 1;
  z-index: 1;
}
.contenedor__Imagenes__Historia:hover .imagen-3d {
  opacity: 1;
}

/* Fin Animación Sección "Historia" */
/* Comienzo Animación "Sombreros de paja" */
.tripulacion {
  display: flex;
  height: 75vh;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.tripulacion div {
  width: 0px;
  overflow: hidden;
  flex-grow: 1;
  opacity: 0.8;
  transition: 0.5s ease;
}
.tripulacion div:hover {
  width: 375px;
  opacity: 1;
  filter: contrast(140%);
}

.tripulacion img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/* Fin Animación "Sombreros de Paja" */
/* Carrusel Página Inicio */
.carrusel__Container {
  position: relative;
}
.carrusel__Container .foto__Carrusel {
  display: block;
  max-width: 100%;
  opacity: 80%;
}
.carrusel__Container .parrafo__Carrusel {
  display: flex;
  position: absolute;
  background-color: rgba(70, 165, 160, 0.49);
  box-shadow: 0px 30px 40px rgba(3, 252, 53, 0.4);
  color: rgb(26, 6, 245);
  transform: translateY(-7px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Fin Carrusel Página Inicio */
/* Aquí estará el estilo de la página"Frutas del Diablo" con Flex-Box y Grid */
.frutas__Del__Diablo {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "p1 img" "p2 img" "p3 img" "p4 img" "p5 img";
}
.frutas__Del__Diablo:nth-child(1) {
  grid-area: p1;
}
.frutas__Del__Diablo:nth-child(2) {
  grid-area: p2;
}
.frutas__Del__Diablo:nth-child(3) {
  grid-area: p3;
}
.frutas__Del__Diablo:nth-child(4) {
  grid-area: p4;
}
.frutas__Del__Diablo:nth-child(5) {
  grid-area: p5;
}
.frutas__Del__Diablo .imagen__Frutas__Del__Diablo {
  grid-area: img;
}
.frutas__Del__Diablo .imagen__Frutas__Del__Diablo .cuadro__Frutas__Del__Diablo {
  width: 100%;
  height: auto;
}
.frutas__Del__Diablo .texto__Parrafo {
  padding: 12px;
  font-size: 1.2rem;
}

/* Final estilo de la página"Frutas del Diablo" con Flex-Box y Grid */
/* Botón Volver datos de los personajes de One Piece */
.boton__Volver:hover {
  background-color: rgb(149, 0, 255);
  box-shadow: 0px 30px 40px rgba(59, 217, 91, 0.4);
  color: aliceblue;
  transform: translateY(-7px);
}
.boton__Volver:active {
  transform: translateY(-1px);
}

.boton__Carrusel {
  display: flex;
  padding: 5px;
  font-size: 230%;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

/* Fin Botón Volver datos de los personajes de One Piece */
/* Estilos de la Sección CONTACTO */
.contenedor {
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
}
.contenedor .texto__Contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
.contenedor .contenedor__Contacto {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}
.contenedor .contenedor__Contacto .formulario__Contacto {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}
.contenedor .video__One__Piece {
  width: 100%;
  max-width: 50%;
  padding: 20px;
  /*.video__Youtube iframe {
      max-width: 100%;*/
}
.contenedor .video__One__Piece .video__Carrusel__Padre {
  width: 100%;
  margin: auto;
}
.contenedor .video__One__Piece .video__Carrusel__Padre .video__Carrusel__Hijo {
  height: 0px;
  padding-bottom: 56.25%;
  position: relative;
}
.contenedor .video__One__Piece .video__Carrusel__Padre .video__Carrusel__Hijo iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Fin Estilos de la Sección CONTACTO */
/* Estilos del FOOTER */
.footer__integrantes {
  padding-top: 1rem;
  margin-top: 20px;
}
.footer__integrantes .redes__Sociales {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__integrantes .redes__Sociales .iconos__Footer a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: rgb(4, 204, 234);
  border-radius: 50%;
  font-size: 30px;
  color: #ffffff;
  transition: 0.5s;
}
.footer__integrantes .redes__Sociales .iconos__Footer a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #04ccea;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.footer__integrantes .redes__Sociales .iconos__Footer a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f5f295;
}
.footer__integrantes .redes__Sociales .iconos__Footer a:hover {
  color: #f5f295;
  box-shadow: 0 0 5px #f5f295;
  text-shadow: 0 0 5px #f5f295;
}

/* Fin Estilos del FOOTER */
/* Media Querie para sección "Sombreros de Paja" */
@media screen and (max-width: 760px) {
  .tripulacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .tripulacion div {
    width: 100%;
    max-width: 450px;
    opacity: 1;
    transition: 0.5s ease;
  }
  .tripulacion div:hover {
    width: 100%;
    opacity: 1;
    filter: contrast(140%);
  }
  .tripulacion img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    padding: 10px;
  }
}
/* Fin Media Querie para sección "Sombreros de Paja" */
/* Media Querie para sección "Frutas del Diablo" */
@media screen and (max-width: 760px) {
  .frutas__Del__Diablo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frutas__Del__Diablo .parrafo__Frutas__Del__Diablo {
    grid-area: unset;
    margin-bottom: 20px;
  }
  .frutas__Del__Diablo .imagen__Frutas__Del__Diablo {
    margin-top: 20px;
  }
}
/* Fin Media Querie para sección "Frutas del Diablo" */
/* Media Querie para sección "Sección Contacto" */
@media screen and (max-width: 760px) {
  .contenedor__Contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .contenedor__Contacto .formulario__Contacto {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contenedor__Contacto .video__One__Piece {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}
/* Fin Media Querie para sección "Sección Contacto" */
/* Media Querie para sección "Historia" */
@media (max-width: 760px) {
  .contenedor__Imagenes__Historia {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }
  .contenedor__Imagenes__Historia img {
    position: relative;
    max-width: 80%;
    margin-bottom: 20px;
    transform: none;
    z-index: 1;
  }
  .contenedor__Imagenes__Historia img:last-child {
    z-index: 0;
    position: absolute;
    margin-left: 50px;
  }
}
/* Fin Media Querie para sección "Historia" *//*# sourceMappingURL=styles.css.map */