/* Botón Volver datos de los personajes de One Piece */
.boton__Volver{ 
    &:hover{
    background-color: rgb(149, 0, 255);
    box-shadow: 0px 30px 40px
    rgba(59, 217, 91, 0.4);
    color: aliceblue;
    transform: translateY(-7px);
    }
    &:active{
    transform: translateY(-1px);
    }
}
.boton__Carrusel{
    display: flex;
    padding: 5px;
    font-size: 230%;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
/* Fin Botón Volver datos de los personajes de One Piece */

