/* Aquí estará el estilo de la página"Frutas del Diablo" con Flex-Box y Grid */
.frutas__Del__Diablo {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "p1 img"
      "p2 img"
      "p3 img"
      "p4 img"
      "p5 img";
      
    &:nth-child(1) {
        grid-area: p1;
    }
        
    &:nth-child(2) {
        grid-area: p2;
    }
        
    &:nth-child(3) {
        grid-area: p3;
    }
        
    &:nth-child(4) {
        grid-area: p4;
    }
        
    &:nth-child(5) {
        grid-area: p5;
    }
    .imagen__Frutas__Del__Diablo {
        grid-area: img;
        
        .cuadro__Frutas__Del__Diablo {
            width: 100%;
            height: auto;
        }
    }

    .texto__Parrafo{
        padding: 12px;
        font-size: 1.2rem;
    }
}
/* Final estilo de la página"Frutas del Diablo" con Flex-Box y Grid */
